@font-face {
  font-family: "Unbounded-Light";
  src: url("/fonts/Unbounded-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Unbounded-Regular";
  src: url("/fonts/Unbounded-Regular.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Unbounded-Light", sans-serif;
}

a { color: var(--text);
    text-decoration: none;
}

h3 { margin-left: 12%;
  color: var(--title)
}

h4 {
  margin-left: 2%;
  font-size: 19px;
}

p { margin: 0 12% 10px 12%;
  color: var(--text);
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;       
  display: flex;
  flex-direction: column;  
}

.app-content {
  flex: 1;
}


